* { margin: 0; padding: 0; }
body { background: #fefefe; color: #333; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px; line-height: normal; }

	h1 { font-family: 'Comic Neue Angular', sans-serif; font-size: 3rem; font-weight: 300;
		margin: 0.625rem 0 1rem; text-align: center; }

.wrapper { margin: 0 auto; max-width: 75rem; padding: 0 0.9375rem; }

.calendar { font-size: 0; margin: 0 auto 1rem; }
.week { }
.days > div, .day { box-sizing: border-box; display: inline-block; font-size: 1rem; position: relative;
	vertical-align: top; width: calc(100%/7); }
.days > div { background: #f1f1f1; color: #000; font-family: 'Comic Neue', sans-serif; padding: 3px 0;
	text-align: center; }
.day { border: 0.0625rem solid #eee; min-height: 6.25rem; }



.date { font-family: 'Comic Neue', sans-serif; position: absolute; right: 0.4375rem; top: 0.4375rem;
	text-align: center; box-sizing: border-box; }
.date-text p { background: #f1f1f1; border-radius: 0.1875rem; color: #000; font-size: 0.875rem;
	line-height: 1.3; margin: 0.4375rem 0.625rem; padding: 0.3125rem; }

.date-text p:first-child { margin-top: 1.875rem; }
.date-text p:last-child { margin-bottom: 0.625rem; }

@media screen and (max-width: 800px) {
	h1 { font-size: 2rem; }
	.days { display: none; }
	.day { border-bottom-width: 0; display: block; width: 100%; }
	.week:last-child .day:last-child { border-bottom-width: 0.0625rem; }
	.date { left: 0.4375rem; right: auto; }
}

@media screen and (min-width: 800px) {
	.week:not(:last-child) .day:not(:last-child) { border-bottom-width: 0; border-right-width: 0; }
	.week:not(:last-child) .day:last-child { border-bottom-width: 0; }
	.week:last-child .day:not(:last-child) { border-right-width: 0; }
}